<%= form_for @customer do |f| %>

  <% if @customer.errors.any? %>
<!-- 以下､エラー表記を表示させるプログラム -->
    <div class="alert alert-danger">
      <p><b><%= @customer.errors.count %>件のエラーがあります</b></p>
​
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :family_name %>
    <%= f.text_field :family_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :given_name %>
    <%= f.text_field :given_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_id %>
    <!-- 新しいIDをセットする際は必ず､ストロングパラメーターの設定を-->
    <%= f.collection_select(:company_id, Company.all, :id, :name)%>
    <!-- :idがdb拡張用のデータ､HTMLのソースコードを見るとoption内に格納されていることが確認できる｡ -->
    <!-- .allですべてを選択肢と宣言｡選択肢の一部のみを利用するためには､Controllerサイドで設定を変更｡詳細は右記参照 http://railsguides.jp/active_record_querying.html  -->

  </div>

  <%= f.submit %>
<% end %>
